@use "../../GlobalStyles/breakPoints.scss" as *;
.testimonials {
   &_container {
      & .slider {
         display: flex;
         justify-content: center;
         gap: 32px;
         margin-top: 160px;
         @include bpMax(l) {
            flex-direction: column;
            align-items: center;
         }
         @include bpMax(l) {
            margin-top: 92px;
         }
         @include bpMax(m) {
            margin-top: 62px;
         }
         & .testimonial {
            position: relative;
            width: fit-content;
            transform: translateY(30px);
            opacity: 0;
            & .text {
               height: 180px;
               width: 440px;
               background: #f2f2f2;
               border-radius: 18px;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: end;
               margin-bottom: 22px;
               padding: 16px;
               text-align: center;
               color: rgb(94, 94, 94);
               @include bpMax(m) {
                  width: 100%;
                  height: auto;
                  padding-top: 80px;
               }
            }
            & .image {
               position: absolute;
               height: 140px;
               width: 140px;
               border-radius: 50%;
               overflow: hidden;
               top: -70px;
               left: 50%;
               transform: translate(-50%);
               @include bpMax(l) {
                  height: 100px;
                  width: 100px;
                  top: -40px;
               }

               & img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
               }
            }
         }
      }
   }
}
